<h1>Sign In</h1>

<%= form_tag do %>
  <dl>
    <dt><%= label_tag      :email %></dt>
    <dd><%= text_field_tag :email %></dd>

    <dt><%= label_tag          :password %></dt>
    <dd><%= password_field_tag :password %></dd>
  </dl>

  <%= submit_tag "Sign In" %>
<% end %>
