<h1><%= @talk.title %></h1>

<%= form_for(@note, url: [@conference, @talk, @note]) do |f| %>
  <%= f.text_area :body, cols: 100, rows: 6 %>
  <%= f.submit "Add Note" %>
<% end %>

<div class="notes">
  <%= render @notes %>

  <%= will_paginate @notes %>
</div>
